@import "../utils/variables.scss";

.our-solutions {
  max-width: 1287px;
  margin: 0 auto;

  &__title {
    display: flex;
    font-family: $second-font;
    font-style: normal;
    align-items: center;
    justify-content: center;
    color: $main-text-color;
    font-size: 85px;
    font-weight: 900;
    line-height: 95px;
    margin-top: 120px;
  }

  &__discription {
    font-family: $main-font;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
  }

  &__iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
  }
}

.publuuflip {
  border-radius: 10px;
}
